.section{
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #0f0f0f;
    z-index: 100;
}
.search-section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}
.search-box{
    flex: 1;
    width: 0;
    height: 40px;
    max-width: 370px;
    background-color: #121212;
    color: #ddd;
    border-radius: 25px 0px 0px 25px;
    border: 1px solid #303030;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;

}

.search-button img{
    height: 20px;
    align-items: center;
}
.search-button{
    background-color: #212121;
    width: 60px;
    height: 40px;
    border: 1px solid #303030;
    border-radius: 0px 25px 25px 0px;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    border-left: none;

}
.mic-button{
    background-color: #212121;
    height: 40px;
    width: 40px;
    border: 1px solid #303030;
    border-radius: 20px;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    margin-left: 20px;
}
.right-section {
    display: flex;
    align-items: center;
    width: 180px;
    flex-shrink: 0;
    justify-content: end;
    gap: 15px;

}

.right-section p{
    color: white;
}
.profile-pic{
    width: 30px;
    border-radius: 15px;
    
}
.left-section{
    display: flex;
    width: 180px;
    flex-shrink: 0;
    align-items: center;
    gap: 35px;
    margin-left: 16px;
}