.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    background-color: rgb(0, 0, 0)
}

.video{
    width: 100%;
}

.video-title, .shorts-title{
    color: white;
}

.channel-name{
    color: #a8a8a8;
}

.video-info{
    color: #a8a8a8;
}

.thumbnail img{
    width: 100%;
}